:root {
  /* Colors */
  --primary-color: #191919;
  --primary-color-inverted: #FFFFFF;
  --secondary-color: #F1F1F1;
  --tertiary-color:#8F8A8A;
  --accent-color: #FF8B4A;
  --accent-color-secondary: #FFE8DB;
  --background-color: #F7F7F7;
  --border-color: #EFEFEF;
  --hover-color: #F7F7F780;
  --hover-color-accent: #EF742D;
  --hover-color-secondary: #E9E9E9;
  --selection-color: #277D7E;
  --error-color: #dd2222;

  /* Fonts */
  --font-family: 'Inter', sans-serif;
  
  /* Font Sizes */
  --font-size-xxl: 140px;
  --font-size-xl: 72px;
  --font-size-l: 56px;
  --font-size-mll: 32px;
  --font-size-ml: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  
  /* Spacing */
  --padding-xl: 80px;
  --padding-l: 48px;
  --padding-m: 24px;
  --padding-s: 16px;
  --padding-xs: 8px;
  --padding-xxs: 4px;

  /* Border Radius */
  --border-radius-lg: 24px;
  --border-radius-sm: 8px;
}

body {              
  display: flex;
  justify-content: center;
  align-items: center;
  padding:var(--padding-xl);
  background-color:var(--background-color);
  font-family: var(--font-family);
}

.heading{
  height: 100%;        
  display: column;
  justify-content: center;
  align-items: center;
 } 

form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xs);
}

