.label {
  display: block;
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--tertiary-color);
  font-family: var(--font-family);
}

.bold {
  font-weight: bold;
}


.custom-color {
  color: var(--accent-color);
}
