.wrapper {
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.wrapperShowcase {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.selectWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  display: flex;
  width: 100%;
  gap: 32px;
  flex-direction: row;
  justify-content: space-between;
  outline: none;
}


.select:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px var(--accent-color-secondary);
  outline: none;
}

.selectWrapper.default{
  border-color: var(--border-color); 
}

.selectWrapper.success {
  border-color: var(--selection-color); 
}

.selectWrapper.error {
  border-color: var(--error-color); 
}

.icon {
  position: relative;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--tertiary-color); 
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabledSelect {
  cursor: not-allowed;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--primary-color-inverted);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-option {
  padding: 12px;
  cursor: pointer;
  color: var(--text-color);
}

.dropdown-option:hover {
  background-color: var(--hover-color);
}

.dropdown-divider {
  border-top: 1px solid var(--border-color);
  width: 96%;
}
