.container {
    width: auto;
    display:flex;
    gap:72px;
    justify-content: center;
    align-items: center;
  }

   .showcase{
    background-color: var(--primary-color-inverted);
    flex-wrap: wrap;
    width:660px;
    border-radius: var(--border-radius-lg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height:600px;
   }

   .showcaseDemo{
    background-color: var(--primary-color-inverted);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width:510px;
    height: 552px;

  }

  .preview{
    padding: var(--padding-xl);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: var(--font-size-xxl);
    font-weight: 600;
    line-height: 60%;
    margin-bottom: var(--padding-m);
    color: var(--text-color);
  }
  .subtitle {
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 100%;
    color: var(--text-color);
  }

  .containerPreviewShowcase{
    justify-content: center;
    height:0px;
    padding:0 var(--padding-l);
    background-color:#EFF0F0;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
    align-items: center;
    display:flex;
  }

  .containerPreview{
    justify-content: center;
    height:264px;
    padding:0 var(--padding-l);
    background-color:#EFF0F0;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
    align-items: center;
    display:flex;
  }
  .controls {
    display: flex;
    width: 100%;
    max-width: 260px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
  }
  
  .controlsShowcase {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding:var(--padding-s) var(--padding-l) var(--padding-l) var(--padding-l);
    gap: 24px;
  }



  .controlsShowcaseComponents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:var(--padding-m) var(--padding-l) var(--padding-l) var(--padding-l);
    gap: 32px;
  }

  .showcase.heading{
    position:fixed;
  }

  .showcaseTitle{
    font-size: var(--font-size-mll);
    font-weight: 600;
    display: flex;
    padding: var(--padding-l) var(--padding-l)var(--padding-m)var(--padding-l);
    margin:0;
  }
  .controlGroup {
    display: flex;
    flex-direction: column;
    width: 269.74px;
    height: 76px;
  }
  
  .label {
    font-size: var(--font-size-s);
    font-weight: 500;
    margin-bottom: calc(var(--padding-s) / 2);
    color: var(--text-color);
  }
  
  .contentContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 660px;
    height: 674.5px;
  }

  .selectWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .containerWidget{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 660px;
    height: 674.5px;
  }

  .buttonSticky{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;

  }