.textInputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
}

.textInput {
  display: flex;
  width: 100%;
  max-width: 270px;
  flex-direction: column;
  margin-bottom: var(--padding-m);
}

.label {
  font-size: var(--font-size-m);
  margin-bottom: var(--padding-xs);
}

.input {
  width: 100%;
  padding: 0 var(--padding-s);
  font-size: var(--font-size-m);
  border: 1.8px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  resize: none;
  min-height: 40px;
}

.input:focus {
  border-color: 4px solid var(--selection-color);
}

.errorInput {
  border-color: var(--error-color);
}

.errorText {
  color: var(--error-color);
  font-size: var(--font-size-xs);
  margin-top: var(--padding-xxs);
}
